* {
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  font-family: 'roboto', Courier, monospace;
  font-weight: bolder;
}

*:focus {
  outline: none;
  text-decoration: underline;
  transition: text-decoration 0.4s ease-in;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  background-color: #eeebff;
  text-align: center;
  display: flex;
}

.logo {
  width: 200px;
  height: 120px;
  margin: 0;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  align-items: center;
}

.nav-link {
  padding: 7px;
}

.nav-link:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.main-page {
  height: max-content;
  padding: 10px;
  text-align: center;
}

.menu {
  height: 200px;
  background-color: rgba(125, 127, 255, 0.767);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  list-style-type: none;
  height: 100%;
  padding-top: 30px;
  padding-left: 0;
  align-items: flex-start;
}

.footer {
  height: 100%;
  background-color: aqua;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
}

.sobre {
  align-items: center;
  justify-content: center;
}






